<div class="container-fluid" id="top">
    <div class="row" id="overlay">
        <div class="col-lg-12">
            <div class="container mt-2">
                <div class="row p-4">
                    <div class="col-lg-3 ">
                        <button routerLink="/"><h4 class="font-weight-bold">Start Bootstrap</h4></button>
                    </div>
                    <div class="col-lg-7 text-center">
                    </div>
                    <div class="col-lg-1">
                        <button routerLink="/"><h4 class="font-weight-bold">Home</h4></button>
                    </div>
                    <div class="col-lg-1">
                        <button routerLink="/about"><h4 class="font-weight-bold">About</h4></button>
                    </div>
                </div>
                <div class="row p-5 mt-5">
                    <div class="col-lg-12 text-center pb-5 ">
                        <h1 class="font-weight-bolder" id="title">About Me</h1>
                        <h3 class="pb-5">This is what I do</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid mt-5">
    <div class="row mt-5">
        <div class="col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <ul class="list-inline text-center">
                                <li class="list-inline-item">
                                    <a href="https://twitter.com/sbootstrap" target="_blank">
                                        <i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="/">
                                        <i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://github.com/StartBootstrap/sb-clean-blog-angular" target="_blank">
                                        <i class="fa fa-github-square fa-4x" aria-hidden="true"> </i>
                                    </a>
                                </li>
                            </ul>
                            <p class="copyright text-muted">Copyright © Your Website 2019</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>