button {
    border: none;
    background: transparent;
    color: white;
}

#top {
    background: linear-gradient(rgba(68, 68, 68, 0.288), rgba(59, 59, 59, 0.25)), url("/assets/images/blogBg.jpg");
    background-size: cover;
}

#overlay {
    color: white;
}

#title {
    font-size: 6rem;
}

.blogTitle {
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 1;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.blogTitle1 {
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.icon {
    color: black;
}